{% extends "base.html" %}

{% block shophero %}
  {% if '/shop/' in request.path %}
  <header class="masthead" style="background-image: url('{{STATIC_URL}}img/product-page.jpg'); background-position: center top;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ product.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endif %}
{% endblock %}